<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the latest news updates </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        {% endif %}
    </head>

    <div class="jumbotron" style="color: black;">
        <h1 style="color: black;">
            Latest news application
        </h1>
    </div>

    <div class="container">
        {%for new, des, i in title %}

        <img src="{{i}}" alt="">
        <h3>News: </h3> {{new}}
        <H4>Description: </H4> {{des}}

        {% endfor %}
    </div>

    <body>

    </body>

</html>
